<div data-order="<%= index %>" data-price="<%= price %>" data-volume="<%= volume %>" class="<%= classes %> form__column-container form__column-container-value">
  <div class="form__column order-book__column form__column-value"><div>
    <%= formatter.mask_fixed_price(price) %>
  </div></div>
  <div class="form__column order-book__column form__column-value"><div>
    <%= formatter.amount(volume, price) %>
  </div></div>
</div>